<!doctype html>
<html lang="en">

<head>
  <%- include('./elements/head.ejs');%>
</head>

<body>
	<!-- Start Header/Navigation -->
	<%- include('./elements/nav.ejs')%>
	<!-- End Header/Navigation -->

	<!-- Start Hero Section -->
	<%- include('./elements/heroSection.ejs')%>
	<!-- End Hero Section -->

	<%- body%>

	<!-- Start Footer Section -->
	<footer class="footer-section">
	<%- include('./elements/footer.ejs')%>
	</footer>
	<!-- End Footer Section -->
	<%- include('./elements/script.ejs')%>

</body>

</html>